<div class="wrapper">

    @if(accident){
        <cd-timer [startTime]="1" [endTime]="10" (onStart)="turnYellow()" (onComplete)="changeAccident()" (onStop)="redGo()" (onTick)="flashYellow()"></cd-timer>
    }

    @if(yellowGreenTimer){
        <cd-timer [startTime]="1" [endTime]="2" (onComplete)="turnGreen()" (onStop)="greenGo()" (onTick)="lookForAccident()"></cd-timer>
    }
    @if(greenTimer){
        <cd-timer [startTime]="1" [endTime]="5" (onComplete)="turnYellow()" (onStop)="greenYellowGo()" (onTick)="lookForAccident()"></cd-timer>
    }
    @if(yellowRedTimer && !accident){
        <cd-timer [startTime]="1" [endTime]="2" (onStart)="turnYellow()" (onComplete)="turnRed()" (onStop)="redGo()" (onTick)="lookForAccident()"></cd-timer>
    }
    @if(redTimer){
        <cd-timer [startTime]="1" [endTime]="5" (onComplete)="turnYellow()" (onStop)="redYellowGo()" (onTick)="lookForAccident()"></cd-timer>
    }

    <div class="traffic-light">
        <div id="left-red"></div>
        <div id="left-yellow"></div>
        <div id="left-green"></div>
    </div>
    
    <button id="left-btn" (click)="cross()">Пресичане</button>
    <button disabled id="left-btn-dis">Пресичане</button>

</div>