<div class="wrapper">

  <top-traffic-light-root [(accident)]="accidentTop"></top-traffic-light-root>
  <div class="mid-wrapper">

    <left-traffic-light-root [(accident)]="accidentLeft"></left-traffic-light-root>
    <button id="acc-btn" class="mid-btn" (click)="Accident()">Авария</button>
    <button disabled id="dis-acc-btn">Авария</button>
    <right-traffic-light-root [(accident)]="accidentRight"></right-traffic-light-root>

  </div>
  <bottom-traffic-light-root [(accident)]="accidentBottom"></bottom-traffic-light-root>

</div>

@if(btnsChange){
  <cd-timer [startTime]="1" [endTime]="20" (onStop)="changeBtns()"></cd-timer>
}